:host {
  width: 100%;
}


.mat-form-field {
  width: 100%;
}

.bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.bottom button {
  flex: 0 1 auto;
  margin-left: 5px;
}
