<mat-toolbar color="primary">Decrypt</mat-toolbar>

<div class="padded-content">
  <form *ngIf="!result" class="centered-content">
    <div>
      <app-identity-select [(identity)]="identity"></app-identity-select>
    </div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Message</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <mat-form-field>
            <mat-label>Message</mat-label>
            <textarea
              [(ngModel)]="message"
              matInput
              name="message"
              rows="10"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="bottom">
          <button (click)="decryptMessage()" color="primary" mat-raised-button>
            Decrypt
          </button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>File</mat-panel-title>
        </mat-expansion-panel-header>
        <input (change)="uploadFile($event.target)" name="file" type="file">
        <div class="bottom">
          <button (click)="decryptFile()" color="primary" mat-raised-button>
            Decrypt
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
  <div *ngIf="result" class="centered-content">
    <mat-card>
      <mat-card-title>
        {{result.subject}}
      </mat-card-title>
      <mat-card-subtitle>
        <div>From: {{result.sender}}</div>
        <div>To: {{result.receiver}}</div>
      </mat-card-subtitle>
      <mat-card-content>
        <div *ngIf="result.messageType!=='FILE'">
          {{result.payload}}
        </div>
      </mat-card-content>
      <mat-card-actions class="bottom">
        <button (click)="download()" *ngIf="result.messageType==='FILE'" color="primary"
                mat-raised-button>
          Download
        </button>
        <button (click)="reset()" color="accent" mat-raised-button>
          Reset
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

