/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.space-invader {
  flex: 1 1 auto;
}

.padded-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.centered-content {
  width: 800px;
  max-width: 800px;
}

.no-padded-dialog .mat-dialog-container{
  padding: 0;
}
